@charset "UTF-8";
/**
 * 
 * @authors Suremotoo (suremotoo@163.com)
 * @date    2018-05-28 9:35
 * @description 右键收藏菜单样式
 */

.right_content {
    margin: 0 auto;
    width: 360px;
}

.right_content p {
    margin: 20px 0 0 0;
    border: solid 1px #C5D8FF;
    background: #EDF2FF;
}
